<div class="toolbar" role="banner">
    <span class="SS">Self-study</span>
    <div class="spacer"></div>
    <ul class="nav-bar">

        <li class="nav-option">
            <a class="nav-option" [routerLink]="['/study-tips']">
                Study Tips
            </a>
        </li>
        <li class="nav-option">
            <a class="nav-option" [routerLink]="['/about']">
                About
            </a>
        </li>
        <li class="nav-option">
            <a class="nav-option" [routerLink]="['/']">
                Home
            </a>
        </li>
    </ul>
    <span>
        <fieldset class="nav-option-after">
            <a class="nav-option-after-a" [routerLink]="['/sign-in']">
                <p class="siign-in">Sign in</p>
            </a>
        </fieldset>
    </span>
</div>
<div class="main">
    <div class="submain">
        <p class="paragraph1">
            Manage your classes, tasks and exams
        </p>
        <h1 class="main-par">
            Never Forget a Class or Assignment Again - Digital School Organizer
        </h1>
    </div>
</div>